TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
QSTASH_URL=
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
VAPID_SUBJECT=
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
NEXTAUTH_URL=
NEXTAUTH_SECRET=
AUTH_TRUST_HOST=
CRON_SECRET=